.container {
    width: 90%;
    height: 80vh;
    position: relative;
    bottom: 0;
    border: 1px solid red;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 90%;
        height: 88vh;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
        margin-top: auto;
    }
}
