.technology {
    background: url("imgs/background-technology-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.container_tec {
    position: relative;
    padding: 24px 24px 48px 24px;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 327px;
    margin: 0 auto;
}

.main h1 {
    display: flex;
    justify-content: center;
    gap: 24px;
    height: 19px;
    font-family: "Barlow Condensed", serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;

}

.main span {
    opacity: 25%;
    font-weight: bold;
}

.main img {
    width: 200px;
}

.main .container, .content {
    display: flex;
    flex-direction: column;
}   

.main .container {
    gap: 32px;
    height: 677px;
}

.imgs {
    display: flex;
    align-content: flex-start;
    position: relative;
    height: 322px;
}

.imgs img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    min-width: 768px;
    height: 258px;
    object-fit: contain;
} 

.main .container .content {
    gap: 40px;
    height: 323px;
}

.main .container .content .btns {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.main .container .content .btns div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid hsl(0, 0%, 25%);
    border-radius: 50%;
}

.main .container .content .btns div span {
    font-family: "Bellefair", serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 100%;
}

.main .container .content .btns div:hover {
    background: white;
}

.main .container .content .btns div span:hover {
    color: #0B0D17;
}

.show {
    background: white !important;
}

.show span {
    color: #0B0D17 !important;
}

.hiden {
    background: none;
}

.hiden span {
    color: none;
}

.main .container .content .text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 243px;
    max-width: 327px;
}

.main .container .content .text .rn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.main .container .content .text .rn span, h2 {
    font-family: "Bellefair", serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main .container .content .text .rn span {
    font-size: 18px;
    opacity: 50%;
}

.main .container .content .text .rn h2 {
    font-size: 24px;
}

.main .container .content .text p {
    font-family: "Barlow", serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 180%;
    color: #D0D6F9;
}



