.technology {
    background: url("imgs/background-technology-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container_tec {
    padding: 24px 24px 48px 24px;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 327px;
    margin: 0 auto;
}

.main h1 {
    display: flex;
    justify-content: center;
    gap: 24px;
    height: 19px;
    font-family: "Barlow Condensed", serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;

}

.main span {
    opacity: 25%;
    font-weight: bold;
}

.main .container, .content {
    display: flex;
    flex-direction: column;
}   

.main .container {
    gap: 32px;
    height: 677px;
}

.imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 322px;
    padding-top: 64px;
}

.imgs img {
    min-width: 768px;
    height: 258px;
    object-fit: cover;
} 

.main .container .content {
    gap: 40px;
    height: 323px;
}

.main .container .content .btns {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.main .container .content .btns div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid hsl(0, 0%, 25%);
    border-radius: 50%;
    transition: background-color .7s ease;
}

.main .container .content .btns div span {
    font-family: "Bellefair", serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF ;
    opacity: 100%;
}

.main .container .content .btns div:hover {
    background: white;
}

.main .container .content .btns div:hover span {
    color: #0B0D17;
}

.show {
    background: white !important;
}

.show span {
    color: #0B0D17 !important;
}

.hiden {
    background: none;
}

.hiden span {
    color: none;
}

.main .container .content .text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 243px;
    max-width: 327px;
}

.main .container .content .text .rn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.main .container .content .text .rn span, h2 {
    font-family: "Bellefair", serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main .container .content .text .rn span {
    font-size: 18px;
    opacity: 50%;
}

.main .container .content .text .rn h2 {
    font-size: 24px;
}

.main .container .content .text p {
    font-family: "Barlow", serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 180%;
    color: #D0D6F9;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .technology {
        background: url("imgs/background-technology-tablet.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container_tec {
        position: relative;
        padding: 40px;
        overflow: hidden;
    }
    
    .main {
        width: 688px;
        height: 848px;
    }

    .main h1 {
        justify-content: flex-start;
        gap: 24px;
        height: 24px;
        font-size: 20px;
    }  
    
    .main .container {
        height: 800px;
    }

    .imgs {
        height: 421px;
    }
    
    .imgs img {
        min-width: 768px;
        height: 357px;
        object-fit: cover;
    } 

    .main .container .content {
        height: 347px;
    }

    .main .container .content .btns {
        width: 512px;
        margin: 0 auto;
    }
    
    .main .container .content .btns div {
        width: 56px;
        height: 56px;
    }

    .main .container .content .btns div span {
        font-size: 24px;
    }

    .main .container .content .text {
        height: 251px;
        max-width: 512px;
        margin: 0 auto;
    }
    
    .main .container .content .text .rn span {
        font-size: 24px;
    }
    
    .main .container .content .text .rn h2 {
        font-size: 40px;
    }
    
    .main .container .content .text p {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .technology {
        background: url("imgs/background-technology-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container_tec {
        display: flex;
        justify-content: flex-end;
        padding: 48px 0;
    }
    
    .main {
        width: 1275px;
        height: 792px;
    }

    .main h1 {
        height: 34px;
        width: 300px;
        font-size: 28px;
    }

    .main .container {
        flex-direction: row-reverse;
        align-items: center;
        height: 734px;
    }

    .imgs {
        width: 608px;
        height: 734px;
        padding: 0;
        overflow: hidden;
    }
    
    .imgs img {
        width: 610px;
        height: 620px;
        object-position: bottom;
        object-fit: fill;
    } 

    .main .container .content {
        flex-direction: row;
        gap: 64px;
        min-width: 635px;
        height: 304px;
    }

    .main .container .content .btns {
        flex-direction: column;
        gap: 32px;
        width: 80px;
        height: 304px;
    }
    
    .main .container .content .btns div {
        width: 80px;
        height: 80px;
    }

    .main .container .content .btns div span {
        font-size: 32px;
    }

    .main .container .content .text {
        height: 301px;
        max-width: 491px;
        gap: 24px;
    }

    .main .container .content .text .rn{
        align-items: flex-start;
    }
    
    .main .container .content .text .rn span {
        font-size: 32px;
    }
    
    .main .container .content .text .rn h2 {
        font-size: 56px;
    }
    
    .main .container .content .text p {
        font-size: 18px;
        text-align: left;
    }
}