.home {
    background: url("./imgs/background-home-mobile.jpg");
    background-position: bottom ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 812px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
    height: 676px;
    gap: 48px;
}

.hero .textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 327px;
    height: 294px;
}

.hero .textos span {
    font-family: "Barlow Condensed", serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #D0D6F9;
}

.hero .textos h1 {
    font-family: "Bellefair", serif;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero .textos p {
    font-family: "Barlow", serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 180%;
    color: #D0D6F9;
}

.hero .container_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 327px;
    height: 382px;
}

.hero .container_btn .link {
    text-decoration: none;
}

.hero .container_btn .btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    background: #FFFFFF;
}

.hero .container_btn .btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 144px;
    height: 144px;
    background: rgb(255, 255, 255, 10%);
    border-radius: 50%;
    z-index: 0;
    transition: all 0.3s;
}

.hero .container_btn .btn:hover::before {
    transform: translate(-50%, -50%) scale(1.88);
}

.hero .container_btn .btn span{
    font-family: Bellefair;
    font-size: 18px;
    text-transform: uppercase;
    color: #0B0D17;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .home {
        background: url("./imgs/background-home-tablet.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 100dvh;
        overflow: hidden;
    }

    .hero {
        width: 688px;
        height: 672;
    }

    .hero .textos {
        max-width: 512px;
        height: 334px;
    }

    .hero .textos span {
        font-size: 28px;
        letter-spacing: 4px;
    }
    
    .hero .textos h1 {
        font-size: 144px;
    }
    
    .hero .textos p {
        font-size: 16px;
        line-height: 180%;
    }

    .hero .container_btn {
        max-width: 512px;
        height: 272px;
    }

    .hero .container_btn .btn {
        width: 272px;
        height: 272px;
    }

    .hero .container_btn .btn::before {
        width: 252px;
        height: 252px;
    }

    .hero .container_btn .btn:hover::before {
        transform: translate(-50%, -50%) scale(1.88);
    }

    .hero .container_btn .btn  span{
        font-size: 32px;
    }

    .btn:hover::before {
        width: 140%;
        height: 140%;
    }
}

@media (min-width: 1024px) {
    .home {
        background: url("./imgs/background-home-desktop.jpg");
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .hero {
        flex-direction: row;
        width: 1110px;
        height: 632;
        margin: 0 auto;
    }

    .hero .textos {
        align-items: flex-start;
        max-width: 540px;
        height: 343px;
    }

    .hero .textos span {
        font-size: 28px;
        letter-spacing: 4px;
    }
    
    .hero .textos h1 {
        font-size: 144px;
    }
    
    .hero .textos p {
        font-size: 18px;
        text-align: left;
    }

    .hero .container_btn {
        justify-content: flex-end;
        width: 540px;
        height: 272px;
    }

    .hero .container_btn .btn {
        width: 272px;
        height: 272px;
    }

    .hero .container_btn .btn::before {
        width: 252px;
        height: 252px;
    }

    .hero .container_btn .btn:hover::before {
        transform: translate(-50%, -50%) scale(1.88);
    }

    .hero .container_btn .btn  span{
        font-size: 32px;
    }
}